<div class="footer">
  <div class="footer-links">
    <a href=""><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Ce footer a été fait avec <i class="fas fa-heart"></i> le temps de la mise en place.
  </div>
</div>
